:root {
  font-family: 'Heebo', sans-serif;
  line-height: 1.6;
  font-weight: 400;
  color: #222;
  background-color: #f6f1ec;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  direction: rtl;
  background-color: #ffffff;
}

/* קופסת הדף */
.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  background-color: #f6f1ec;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  color: #222;
  font-family: inherit;
  text-align: center;
}

.screen-heading {
  text-align: center;
  color: #333;
  margin-bottom: 2rem;
  font-size: 1rem;
  line-height: 1.6;
}

.screen-heading p {
  margin: 0.5rem 0;
}

.screen-sub {
  font-size: 0.9rem;
  margin-top: 1rem;
}


/* כפתורים */
.button-rounded {
  width: 100%;
  padding: 0.9rem;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  background-color: #e8e2dc;
  border: none;
  color: #222;
  margin-bottom: 1rem;
  transition: background 0.2s ease;
}

.button-rounded:hover {
  background-color: #d6d1cb;
}




